@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');:root{
    --font-color:rgb(68, 68, 68);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Cabeçalho */
#header-menu{
    width: 100vw;
    height: 8vh;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--font-color);
    text-align: center;
}
a{
    color:var(--font-color);
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    width: 100%;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.nav-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list li:hover{
    transform: scale(1.25,1.25);
}

/*Responsivo*/
@media(max-width:768px){
    body{
        overflow-x: hidden;
    }
    #header-menu{
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        
    }
    .nav-list li a{
        text-align: center;
        margin-bottom: 15px;
    }
    .nav-list{
        flex-direction: column;
        text-align: center;
    }
    #about-me{
        justify-content: space-evenly;
        height: 40vh;
        flex-direction:column;
        margin-top: 20px;
    }
    .about-right{
        width: 100%;
    }
    .right-title{
        width: 50%;
        font-size: 3vw;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .right-content{
        width: 50%;
        font-size: 3vw;
        font-weight: 400;
    }
    #skills{
        flex-direction: column;
    }
    .front-end{
        margin-bottom: 30px;
    }
   
    .email,.contato{
        margin-right: 20px ;
    }

}

/*Introdução*/
#introducao{
    background:url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
    width: 100vw;
    padding: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.introducao-title{
    font-size: 3vw;
    font-weight: bold;
}
.introducao-subtitle,
.introducao-conteudo
{
    font-size: 2vw;
    font-weight: 400;
}
.introducao-subtitle{
    letter-spacing: 2px;
    margin-bottom: 20px; 
}

/*Sobre mim*/
#about-me{
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: justify;
    color: var(--font-color);
}
/*Esquerda*/
.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left img{
    border-radius: 60%;
    width: 70%;
}
/*Direita*/
.about-right{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-title{
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 20px;
}
.right-content{
    font-size: 2vw;
    font-weight: 400;
}

/*Skills*/
#skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
}
.front-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 450px;
    margin-right: 20px;
    box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.17);
}
.front-end:hover{
    transform: scale(1.10,1.10);
}
.front-end h1{
    font-size: 30px;
    font-weight: bold;
}
.back-end h1{
    font-size: 30px;
    font-weight: bold;
}
.back-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 450px;
    box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.17);
}
.back-end:hover{
    z-index: 1;
    transform: scale(1.10,1.10);
}

/*Rodapé*/
 #rodape{
    width: 100vw;
    height: 35vh;
    background-color: var(--font-color);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.email{
    width: 33.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.email img{
    width: 10vw;
}
.email a{
    color: #fff;
    font-size: 1.5vw;
}
.contato{
    width: 33.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contato img{
    width: 10vw;
}
.localizacao{
    width: 33.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.localizacao img{
    width: 10vw;
}
.text{
    font-size: 1.5vw;
}